

.section-title {
    font-weight: bold;
    padding-left: 16.5rem;
    padding-right: 16.5rem;
    box-sizing: border-box;
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 2rem;
    font-family: 'Pretendard-Medium';

}
.best-review-section {
width: 100%;
height: 250px;
padding-left: 25px;
padding-right: 25px;
box-sizing: border-box;
border: 1px solid #e0e0e0;
border-radius: 3px;
overflow: hidden;
font-family: 'Pretendard-semibold';
}

@keyframes scroll-reviews {
    0% {
        transform: translateY(0%);
    }

    100% {

        transform: translateY(-50%);
    }
}
.best-review-list-wrapper {
    height: 250px;
    width: 60.5%;
    overflow: hidden;
    padding-left: 16.5rem;
    box-sizing: border-box;
    display: flex;
    float: left;

}
.best-review-list-animated {
    display: flex;
    flex-direction: column;
    animation: scroll-reviews 50s linear infinite;
}s


.review-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    .review-grid {
        grid-template-columns: 1fr 1fr;
    }
}

.comment-item {
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.review-header {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.movie-img {
    width: 100px;
    height: 140px;
    border-radius: 3px;
    object-fit: cover;
}
.review-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    padding-left: 10px;
}

.username {
    font-weight: 400;
    color: #1f2937;
    margin-bottom:1px;
    line-height: 1.2;
    font-size: 13px;

}
.movie-name {
    font-size: 15px;
    color: #6b7280;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 4px;
}
.review-text {
    color: #4b5563;
    margin-bottom: 1px;
    margin-top: 7px;
}

.rating {
    display: flex;

}

.star-icon {
    display: inline-block;
}

.likes {
    display: flex;
    align-items: flex-end;
    color: #6b7280;
    font-size: 0.875rem;
    margin-top: 5px;
}

.likes svg {
    margin-right: 0.25rem;
}

@media (max-width: 1440px) {
    .best-review-list-wrapper {
        width: 65%;
        padding-left: 40px;
        box-sizing: border-box;

        
    }
    .section-title {
        padding-left: 40px;
        box-sizing: border-box;
        font-size: 14px;

        

    }
}

@media (max-width: 767px) {
    .best-review-list-wrapper {
        width: 100%;
    }
}
