.distance-wrapper {
    display: flex;
    width: 38%;
    height: 80%;
    box-sizing: border-box;
    flex-direction: column;
    float:right;
    padding-right: 16.5rem;
    margin-left: 30px;

}
.distance-title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Pretendard-Medium';
}

.distance-section-wrapper{
    width: 100%;
    height: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
        
}
@media (max-width: 1440px) {
    .distance-wrapper {
            display: flex;
            width: 38%;
            box-sizing: border-box;
            flex-direction: column;
            float: right;
            padding-right: 40px;
            margin-left: 30px;
    
        }
}