.join-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    position: relative;
    width: 100%;
}
.header-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.join-logo img {
    width: 100%;
    height: auto;
    display: block;

}

.join-header{
    font-family: "Pretendard-Medium";
    font-size:22px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px
}
.form-container{
    font-family: "Pretendard-Regular";
    width:300px;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.form-group {
    position: relative;
    margin-bottom: 6px;
    border-radius: 5px;
    padding: 4px 10px;
}
.form-group label{
    position: absolute;
    /* 상단에서 조금 내림 */

    font-size: 16px;
    color: #888;
    transition: all 0.2s ease;
    pointer-events: none;
    background-color: #f5f5f5;
    padding: 0 5px;

    transform: translateY(0);
}
.form-group input{
    width: 100%;
    padding: 11px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #555;
    background-color: #f9f9f9;
}
.form-group input:focus {
    outline: none;
    border-color: #2e2e2e;
}
.password-mismatch-message {
    /* 비밀번호 일치 확인 메시지 스타일 */
    font-size: 13px;
    color: #d9534f;
    margin-top: 5px;
    margin-bottom: 0px;
}
.button-group {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding-right: 8px;
    padding-left: 8px;

}
.submit-button {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: white;
    padding: 5px 10px;
    border: 1px solid #636363;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.submit-button:hover {
    background-color: #ffffff;
    color: #000;
}

.message-box {
    margin-top: 10px;
    font-size: 14px;
}

.message-box.error {
    color: red;
}


@media (max-width: 1440px) {



}