.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(90, 90, 90, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 40%;
    max-width: 450px;
    max-height: 87vh;
    overflow-y: auto;
    animation: fadeInScale 0.3s ease-out;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    margin-top:60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #555;
}

.modal-close-button:hover {
    color: #000;
}

/* 모달 등장 애니메이션 */
@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


@media (max-width: 1440px) {
    .modal-content
    {
        
    }
}