.background-section {
    position: relative;
    /* <--- 중요: 자식 요소의 absolute 위치 기준 */
    width: 100%;
    /* background의 높이에 맞게 min-height를 설정하거나,
       background에 직접 높이를 설정해야 합니다. */
    min-height: 250px;
    /* <--- background의 높이와 profile이 걸칠 높이를 고려 */
    background-color: #f0f0f0;
    /* 이 섹션 전체의 배경색 */
}

.background{
    padding-top: 84px;
    background-color: rgb(71, 71, 71);
    width: 100%;
    aspect-ratio: 14/4;
}
.profile-container{
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding-left: 16.5rem;
        padding-right: 16.5rem;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
}

.personal-img {
    width: 200px;
    /* <--- 이미지 너비 (이미지 크기에 맞춰 조절) */
    height: 200px;
    /* <--- 이미지 높이 (위와 동일하게) */
    background-color: #cccccc;
    /* <--- 회색 배경 */
    border-radius: 50%;
    /* <--- 원형 */
    flex-shrink: 0;
}
.nickname{
    font-size: 35px;
    font-weight: bold;
    margin-left: 15px;

}
.main-section{
    margin-top: 160px;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-bottom: 30px;

}
@media (max-width: 1440px) {
    .profile-container {
            position: absolute;
            bottom: -70px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            padding-left: 40px;
            padding-right: 40px;
            display: flex;
            align-items: flex-end;
        }
}