.profile-section-wrapper {
    display: flex;
    width: 38.5%;
    height: 250px;
    padding-right: 16.5rem;
    padding-left: 5px;
    box-sizing: border-box;
    float: right;
    font-family: 'Pretendard-Medium';
}
.login-required-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;

}

.placeholder-circle {
    width: 10rem;
    height: 10rem;
    background-color: #e5e7eb;
    display: flex;
    margin-top: 1.5rem;
    border-radius: 50%;
}
.profile-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
}

.login-required-section .message-text {
    color: #4b5563;
    /* text-gray-600 */
    font-weight: 600;
    /* font-semibold */
    font-size: 1.25rem;
    margin-top: 1.5rem;

    
}


.profile-img-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px auto;
    overflow: hidden;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.user-nickname {
    font-weight: bold;
    font-size: 1.2em;
    margin: 5px 0;
    color: #333;
}
@media (max-width: 1440px) {
    .profile-section-wrapper {
        width: 33.5%;

        padding-right: 40px;
        padding-left: 0px;

    }
}