@import url('https://fonts.googleapis.com/css?family=Rajdhani:700');

@font-face {
  font-family: 'Pretendard-Medium';
  src: local('Pretendard-Medium'),
  url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard-regular';
  src: local('Pretendard-regular'),
  url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

body {
  font-family: 'Pretendard-Medium';
}

*,
*:before,
*:after {
  box-sizing: inherit;
}